.container {
	display: grid;
	grid-template-rows: 70px 300px 70px auto;
	grid-template-areas:
		'header header header'
		'banner banner banner'
		'listMenu listMenu listMenu'
		'content content content';

	.header {
		background: var(--white);
		grid-area: header;
	}

	.banner {
		background: var(--blue);
		grid-area: banner;
	}

	.listMenu {
		background: #fff;
		grid-area: listMenu;
	}

	.content {
		display: grid;
		grid-template-columns: 260px 580px 260px;
		background: orangered;
		grid-area: content;

		max-width: 1100px;
		margin: 0 auto;

		.perfil {
			background: var(--white);
		}

		.rightMenu {
			background: var(--blue);
		}
	}
}
